*{  
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}   

#gallery{
   border: 2px solid red; 
    background-color: #f5f6f7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    padding: 0 4px;
    align-items: center;
}

#gallery img{
    width: 25%;
    object-fit: cover;
    height: 300px;
    padding: 0 4px;
    border-radius: 10px;
    margin-top:8px;

}

header{
    text-align: center;
    padding: 32px;
    background-color: #E0DDDD;
}

@media (max-width: 800px) {
    #gallery img{
        width: 50%;
    }
}

@media(max-width: 600px){
    #gallery img{
        width:100%;
    }
}